@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --primary-color: #5c48ee;
  --primary-color-dark: #0f1e6a;
  --text-dark: #0f1e6a;
  --text-light: #3b3a3a;
  --white: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
}

.btn:hover {
  background-color: var(--primary-color-dark);
  color: var(--white);
}


.container {
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-weight: 600;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-left: auto;
  padding-top: 30px;
  padding-right: 25px;
}

.link a {
  text-decoration: none;
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
}

.mainpart {
    padding: 2rem;
    background-color: #ffffff; /* White background */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    max-width: 900px; /* Limiting the width */
    margin: 2rem auto; /* Centered container */
    font-size: 1rem;
  }
  
  .mainpart h4 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color-dark);
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  #content {
    padding-left: 20px;
  }
  
  ol {
    list-style: decimal; /* Default numbered list */
    padding-left: 20px;
  }
  
  li.title {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-color-dark);
    margin-top: 1.5rem;
  }
  
  ul {
    padding-top: 20px;
    /*list-style: none; Removing the bullet points */
    padding-left: 10px;
  }
  
  ul li {
    margin-bottom: 1rem;
    color: var(--text-light);
  }
  