
  body {
    font-family: 'Poppins', sans-serif;
  }
  
  .card {
    max-width: 700px;
  }
  
  #petitionDetails p {
    margin-bottom: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
  }
    